
* {
    margin: 0;
    padding: 0;
}

.books .authors {
    max-height: 200px;
    width: 300px;
    overflow: auto;
    border: solid 1px #ccc;
    padding: 7px
}

.books .authors label {
    padding: 0 3px;
    font-weight: normal;
}

form.filter-books {
    padding: 5px;
    border: solid 1px #ccc;
    margin: 10px 0;
}

form.filter-books .title {
    padding-right: 25px;
}

form.filter-books .space {
    padding: 0 25px;
    font-size: 19px;
    color: #888;
    font-weight: bold;
}

form.filter-books button {
    margin-left: 25px;
}
