{% extends 'stormtech.html.twig' %}

{% block body %}

    <section class="container main">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.getId() }}</td>
                        <td>{{ author.getName() }}</td>
                        <td>
                            <a href="{{ path('authors_edit', {'id': author.getId()}) }}">Editar</a> | 
                            <a href="{{ path('authors_delete', {'id': author.getId()}) }}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}

